#timer {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  #question {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #options {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #submit {
    font-size: 18px;
    padding: 10px 20px;
  }
  
  #next-button {
    display: none; /* Initially hide the next button */
    margin-bottom: 10px; /* Adjust the margin as needed */
   }

  /* Styles for the correct answer */
.correct {
  background-color: green;
  color: white;
}

/* Styles for the wrong answer */
.wrong {
  background-color: red;
  color: white;
}

#timer {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 16px;
  font-weight: bold;
}

#quiz-container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

#heading-para {
font-family: 'Times New Roman', Times, serif;
font-size: x-large;
font-weight: bolder;
margin-left: 20px;
margin-right: 20px;
}


/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

#quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#quiz-title {
  text-align: center;
}

#heading-para {
  text-align: center;
  margin-top: 20px;
}

#question {
  margin-top: 30px;
}

#options ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

#options li {
  margin-bottom: 10px;
  cursor: pointer;
}

#timer {
  text-align: right;
  margin-top: 20px;
}

#feedback {
  margin-top: 20px;
}

#next-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#high-scores-container {
  margin-top: 30px;
}


